<tr>
  <td><%= train.name %></td>
  <td><%= link_to 'Show', train %></td>
  <td><%= link_to 'Edit', edit_train_path(train) %></td>
  <td><%= link_to 'Delete', train, method: :delete, data: { confirm: 'Sure?' } %></td>
</tr>