<tr>
  <td><%= route.name %></td>
  <td><%= link_to 'Show', route %></td>
  <td><%= link_to 'Edit', edit_route_path(route) %></td>
  <td><%= link_to 'Delete', route, method: :delete, data: { confirm: 'Sure?' } %></td>
</tr>